<ion-view view-title="Suggested Textbooks">
  <ion-content>
    <button ui-sref="app.sellerSetPrice">
        <div class="card" ng-repeat="book in suggestedBooks">
            <div class="item item-divider">
                {{book.title}}
            </div>
            <div class="item item-text-wrap">
                {{book.author}}
            </div>
        </div>
    </button>
    <br>
    <p> Not found? Input information below.</p>
    <ion-list>
        <ion-item>
            <label ion-label color="primary">Textbook Name</label>
            <input ion-input type="text" placeholder="The Study of Mobile Apps"></input>
        </ion-item>
        <ion-item>
            <label ion-label color="primary">Author</label>
            <input ion-input type="text" placeholder="William Eason"></input>
        </ion-item>
    </ion-list>

    <button class="button" ui-sref="app.sellerSetPrice">Next</button>
  </ion-content>
</ion-view>