<ion-view view-title="Class Info">
  <ion-content>
    <ion-list>
        <ion-item>
            <ion-label color="primary">Course Name</ion-label>
            <ion-input placeholder="CS 4261"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Instructor</ion-label>
            <ion-input placeholder="William Eason"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Semester</ion-label>
            <ion-input placeholder="Fall 2016"></ion-input>
        </ion-item>
    </ion-list>
    <button ui-sref="app.roleSelection" ion-button>Back</button>
    <button ui-sref="app.suggestedBook" ion-button>Next</button>
  </ion-content>
</ion-view>
