<ion-view view-title="Class Info">
  <ion-content>
    <ion-list>
        <ion-item>
            <label ion-label>Course Name</label>
            <input ion-input type="text" placeholder="CS 4261"></input>
        </ion-item>
        <ion-item>
            <label ion-label>Instructor</label>
            <input ion-input type="text" placeholder="William Eason"></input>
        </ion-item>
        <ion-item>
            <label ion-label>Semester</label>
            <input ion-input type="text" placeholder="Fall 2016"></input>
        </ion-item>
    </ion-list>
    <button ui-sref="app.sellerSuggestedBooks" ion-button>Next</button>
  </ion-content>
</ion-view>