<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Book List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center padding-left padding-right>
  <div *ngIf="sellers.length > 0">
    <h3>Listings for {{book.title}}</h3>
    <ion-list>
        <ion-item *ngFor="let seller of sellers">
            <p>Seller: {{seller.name}}</p>
            <p>Price: {{seller.price}}</p>
            <button ion-button color="primary" (click)="openPage(seller)">Request</button>
        </ion-item>
    </ion-list>
  </div>
  <div *ngIf="sellers.length == 0">
    <h3>Sorry! We don't have any listing for {{book.title}} right now. Come back later!</h3>
  </div>
  <ion-list>
        <form (ngSubmit)="onSubmit()">
            <ion-item>
                <ion-label color="secondary">Price</ion-label>
                <ion-input type="number" [(ngModel)]="form.price" name="price" placeholder="$0.00" required></ion-input>
            </ion-item>
            <button ion-button type="submit" color="primary">Request</button>
        </form>
    </ion-list>
</ion-content>
