<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-left padding-right>
    <h3>Pending Books</h3>
    <ion-card *ngFor="let book of pendingBooks">
    <ion-card-header color="#4a5350">{{book.title}}</ion-card-header>
    <ion-card-content>
      Author: {{book.author}}
      <button id="history_button" ion-button small color="primary" (click)="remove(book)">
        Remove Post
      </button>
      <button id="history_button" ion-button small color="primary">
        Exchange Complete
        <ion-select [(ngModel)]="soldTo" (ionChange)="sold(book,soldTo)">
          <ion-option ion-button *ngFor="let name of book.requests" [value]="name">{{name}}</ion-option>
        </ion-select>
      </button>
      <br>
      Price: {{book.price}}
    </ion-card-content>
    </ion-card>

    <h3 text-left>Sold Books</h3>
    <ion-card *ngFor="let book of soldBooks">
    <ion-card-header color="#4a5350">{{book.title}}</ion-card-header>
    <ion-card-content>
      Author: {{book.author}}
      <br>
      Buyer: {{book.buyer}}
      <br>
      Price: {{book.price}}
    </ion-card-content>
    </ion-card>
</ion-content>
